:root {
    --header: 3rem;
    --footer: 40px;
    --main: calc(100vh - calc(var(--header) + var(--footer)));
}

body {
    margin: 0;
    padding: 0;
    border: 0px solid transparent;
    background: #7a7a7a;
}

#container {
    border: 0px solid transparent;
    height: 100vh;
    color: white;
}

#container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111111;
}

#header {
    display: flex;
    justify-content: center;
    height: var(--header);
}

.header__div {
    display: inline-flex;
    width: 80%;
    justify-content: space-between;
}

.header__logo-div {
    font-family: 'Caveat', cursive;
    font-size: 2em;
    padding-left: 1em;
}

.header__link-div {
    display: flex;
    width: 30vw;
    min-width: 16em;
    max-width: 16em;
    padding-right: 1em;
}

ul {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    overflow: hidden;
}

#mainContent {
    height: var(--main);
    background: #343434;
    margin-right: auto;
    margin-left: auto;
}

#footer {
    height: var(--footer);
    background: #232323;
}
